body {
    background: black;
}

.gif {
    text-align: center;
}

.gif_but_header {
    text-align: center;
    width: 180px;
    height: auto;
    padding-top: 10px;
}

.product_1 {
    height: 25%;
    width: auto;
    float: right;
}